/* xxl screen */
@media screen and (max-width: 1400px) {
    
}


/* xl screen */
@media screen and (max-width: 1200px ) {
    
}


/* large screen */
@media screen and (max-width: 992px) {
    
}


/* medium screen */
@media (max-width: 768px) {
    .table td,
    .table th {
        padding: 0.6rem 0.75rem;
        font-size: 0.9rem;
    }

    .table .btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
    }
}


/* small screen */
@media screen and (max-width: 576px) {
    
}


/* smaller screen */
@media screen and (max-width: 400px) {
    
}