/* reset code and common code starts here */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root{
    --primary-color : #4cb4c7;
    --secondary-color : #7abecc;
    --tertiary-color : #7cd1c0;
}

body{
    background-color: #f2fafa;
}

html{
    scroll-behavior: smooth;
}

.card{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.09), 0 1px 3px rgba(0, 0, 0, 0.07);;
}

/* reset code and common code ends here */


/* navbar starts here */

nav{
    background-color: #0b1f2a;
}

.navbar-brand{
    min-height: 60px !important;
}

.navbar-logo{
    height: 50px;
}

.navbar-toggler:focus{
    box-shadow: none;
}

nav .btn{
    --bs-btn-box-shadow : transparent;
    --bs-btn-border-width: 0px;
}

nav .btn-close {
    --bs-btn-close-focus-shadow: transparent;
}

.navbar{
    --bs-navbar-toggler-border-color: transparent;
}

.navbar-toggler{
    line-height: 0;
    border: none;
}

.fa-bars-staggered{
    color: #fff;
    font-size: 1.5rem;
}

/* navbar ends here */


/* status section starts */

#total-orders{
    background-color: #4cb4c7;
}

#orders-pending{
    background-color: #7abecc;
}

#orders-delivered{
    background-color: #7cd1c0;
}

/* #status-section .row{
    margin: 0px auto;
    justify-content: center;
}

#status-section .col-md-4{
    width: 30%;
} */

/* status section ends */
