{% extends 'base/main.html' %}

{% block css %}
<style>
    .table-nowrap th,
    .table-nowrap td {
        white-space: nowrap;
    }

    .table td,
    .table th {
        padding:  0.4rem 0.5rem;
        font-size: 0.9rem;
    }

</style>
{% endblock %}

{% block content %}
{% include 'base/status.html' %}

<section id="dashboard-section">
    <div class="container ">
        <div class="row">
            {% if can_view_dashboard %}

            <!-- customers section starts -->
            <div class="col-lg-4 gx-md-5 gy-4 gy-md-4 ">
                <div class="card card-body">
                    <h5 class="fw-semibold my-2 pb-2">Customers :</h5>
                    <div class="table-responsive">
                        <table class="table table-sm  table-hover align-middle table-nowrap">

                            <thead class="table-secondary">
                                <tr>
                                    <th>Customer</th>
                                    <th>Phone</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for customer in customers %}
                                    <tr>
                                        <td class="fw-semibold">                                      
                                            {{ customer.name }}
                                        </td>
                                        <td class="text-muted ">
                                            {{ customer.phone }}
                                        </td>
                                        <td class="text-center">
                                            <a href="{% url 'customer' customer.id %}" class="btn btn-sm fs-6 btn-outline-primary " title=" View Customer Profile">
                                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- customer pagination starts here -->
                    {% if customers.has_other_pages %}
                    <div class="d-flex justify-content-end align-items-center mt-1">

                        <!-- oagination starts -->
                        <nav>
                            <ul class="pagination mb-0">
                                {% if customers.has_previous %}
                                <li class="page-item">
                                    <a href="?customer_page={{ customers.previous_page_number }}&order_page={{ orders.number }}" class="page-link" aria-label="Previous page">
                                        <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
                                        <span class="visually-hidden">Previous</span>
                                    </a>
                                </li>
                                {% endif %}

                                {% for num in customers.paginator.page_range %}
                                    {% if customers.number == num %}
                                        <li class="page-item active">
                                            <span class="page-link">{{ num }}</span>
                                        </li>
                                    {% elif num > customers.number|add:'-2' and num < customers.number|add:'2' %}
                                        <li class="page-item">
                                            <a href="?customer_page={{ num }}{% if orders.number %}&order_page={{ orders.number }}{% endif %}" class="page-link">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if customers.has_next %}
                                <li class="page-item">
                                    <a href="?customer_page={{ customers.next_page_number }}&order_page={{ orders.number }}" class="page-link" aria-label="Next page">
                                        <i class="fa-solid fa-arrow-right" aria-hidden="true">
                                            <span class="visually-hidden">Next</span>
                                        </i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                        <!-- pagination ends -->

                    </div>
                    {% endif %}
                    <!-- customer pagination ends here -->
                </div>
            </div>

            <!-- orders section -->
            <div class="col-lg-8 gx-md-5 gy-4 gy-md-4 ">
                <div class="card card-body">
                    <h5 class="fw-semibold my-2 pb-2"> Orders :</h5>
                    <div class="table-responsive">
                        <table class="table table-sm align-middle table-nowrap table-hover">

                            <thead class="table-secondary">
                                <tr>
                                    <th>Product</th>
                                    <th>Date Ordered</th>
                                    <th>Status</th>
                                    <th class="text-center">Update</th>
                                    <th class="text-center">Delete</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td class="fw-semibold">
                                            <i class="bi bi-box-seam me-1 text-secondary"></i>
                                            {{ order.product.name }}
                                        </td>
                                        <td class="text-muted">
                                            <i class="bi bi-calendar3 me-1"></i>
                                            {{ order.date_created|date:"M j, Y" }}
                                        </td>
                                        <td>
                                            {% if order.status == "Delivered" %}
                                                <span class="badge bg-success">{{ order.status }}</span>
                                            {% elif order.status == "Pending" %}
                                                <span class="badge bg-warning text-dark">{{ order.status }}</span>
                                            {% else %}
                                                <span class="badge bg-info">{{ order.status }}</span>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            <a href="{% url 'update_order' order.id %}?next={% url 'homepage'  %}"
                                            class="btn btn-sm btn-outline-primary fs-6"
                                            title="Update" >
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href="{% url 'delete_order' order.id %}?next={% url 'homepage' %}"
                                            class="btn btn-sm btn-outline-danger fs-6"
                                            title="Delete">
                                                <i class="fa-solid fa-trash-arrow-up"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>

                    <!-- order pagination starts here -->
                    {% if orders.has_other_pages %}
                    <div class="d-flex justify-content-between align-items-center mt-1">

                        <!-- left info text -->
                        <div class="text-muted small " style="font-size: 0.85rem;">
                            Showing <span class="fw-bold">{{ orders.object_list|length }}</span>
                            of <span class="fw-bold">{{ orders.paginator.count }}</span> Orders
                        </div>

                        <!-- pagination starts -->
                        <nav>
                            <ul class="pagination mb-0" >
                                {% if orders.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?order_page={{ orders.previous_page_number }}&customer_page={{ customers.number }}" aria-label="Previous page">
                                        <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
                                        <span class="visually-hidden">Previous</span>
                                    </a>
                                </li>
                                {% endif %}

                                {% for num in orders.paginator.page_range %}
                                    {% if orders.number == num %}
                                        <li class="page-item active">
                                            <span class="page-link">{{ num }}</span>
                                        </li>
                                    {% elif num > orders.number|add:'-2' and num < orders.number|add:'2' %}
                                        <li class="page-item">
                                            <a class="page-link" href="?order_page={{ num }}&customer_page={{ customers.number }}">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if orders.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?order_page={{ orders.next_page_number }}&customer_page={{ customers.number }}" aria-label="Next page">
                                        <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
                                        <span class="visually-hidden">Next</span>
                                    </a>
                                </li>
                                {% endif %}

                            </ul>
                        </nav>
                        <!-- pagination ends -->

                    </div>
                    {% endif %}

                    <!-- order pagination ends here -->


                </div>
            </div>

        </div>

        {% else %}
            <div class="alert alert-warning text-center mt-5">
                You don’t have permission to view dashboard data.
            </div>
        {% endif %}

    </div>
</section>
{% endblock %}