{% extends 'base/main.html' %}

{% block content %}
<section id="products-section">
    <div class="container my-4">
        <div class="row">
            <div class="card card-body">
                <h2>Products :</h2>
                <hr>
                <table class="table table-sm">
                    <tr>
                        <th>Products</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}