{% extends 'base/main.html' %}

{% block content %}
<section id="products-section">
    <div class="container my-4">
        <div class="row px-3 px-md-0">
            <div class="card card-body">
                <h3 class="fw-semibold">Products :</h3>
                <hr>
                <div class="table-responsive">
                    <table class="table table-sm align-middle table-bordered table-nowrap">

                        <tr>
                            <th>Products</th>
                            <th>Category</th>
                            <th>Price</th>
                        </tr>

                        {% for product in products %}
                            <tr>
                                <td>{{ product.name}} </td>
                                <td>{{ product.category }}</td>
                                <td>${{ product.price }}</td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}