
<section id="status-section">
    <div class="container my-4">
        <div class="row">

            <!-- total orders -->
            <div class="col-md-4 gx-md-5 gy-4 gy-md-0 ">
                <div class="card text-center text-white" id="total-orders">
                    <div class="card-header pt-3">
                        <h4>Total Orders</h4>
                    </div>
                    <div class="card-body py-3">
                        <p class="card-title fs-4">{{ total_orders }}</p>
                    </div>
                </div>
            </div>

            <!-- orders pending -->
            <div class="col-md-4 gx-md-5 gy-4 gy-md-0 ">
                <div class="card text-center text-white" id="orders-pending">
                    <div class="card-header pt-3">
                        <h4>Orders Pending</h4>
                    </div>
                    <div class="card-body py-3">
                        <p class="card-title fs-4">{{ total_pending }}</p>
                    </div>
                </div>
            </div>

            <!-- orders delivered -->
            <div class="col-md-4 gx-md-5 gy-4 gy-md-0 ">
                <div class="card text-center text-white" id="orders-delivered">
                    <div class="card-header pt-3">
                        <h4>Orders Delivered</h4>
                    </div>
                    <div class="card-body py-3">
                        <p class="card-title fs-4">{{ total_delivered }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>